* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif, "Times New Roman", Times, serif;
  font-style: normal;
  color: #212121;
}

img {
  display: block;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.standart__button {
  display: inline-block;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: #2196f3;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.standart__button:hover, .standart__button:focus {
  color: #2f303a;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:focus, .social__link:hover {
  background-color: #2196f3;
}

.social__link:focus .social__logo,
.social__link:hover .social__logo {
  fill: #ffffff;
}

.social__logo {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #f5f4fa;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.172;
  letter-spacing: 0.02em;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  fill: #2196f3;
  color: #2196f3;
}

.logo {
  color: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.383;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 20px;
  }
}

.logo-blue {
  color: #2196f3;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__link {
  padding: 31px 0;
}

.nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.link--active {
  position: relative;
  color: #2196f3;
}

.link--active::after {
  position: absolute;
  content: '';
  width: 100%;
  left: 0px;
  bottom: 0;
  border-radius: 2px;
  border-bottom: 4px solid;
}

.contacts {
  display: none;
  color: #757575;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.contacts__psevdo {
  margin-right: 10px;
}

.burger-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #ffffff;
  border: 0;
}

.burger-button :hover, .burger-button:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

.menu__content {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  max-width: 480px;
  width: 100%;
  max-height: 796px;
  height: 100%;
  padding: 48px 40px;
}

.button-close-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.icon-close-menu {
  width: 30px;
  height: 30px;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close-menu:focus .icon-close-menu,
.button-close-menu:hover .icon-close-menu {
  fill: #2196f3;
}

.menu-is-hidden {
  opacity: 0;
  pointer-events: none;
}

.menu-nav {
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.menu-nav__link--active {
  color: #2196f3;
}

.menu-contacts__list {
  margin-bottom: 64px;
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-social__list {
  position: absolute;
  bottom: 48px;
  left: 40px;
  display: flex;
  flex-wrap: wrap;
}

.menu-social__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-social__link {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner.jpg);
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.363;
  }
}

.our-tasks {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-tasks {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-tasks__title {
  visibility: hidden;
  height: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .our-tasks__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .our-tasks__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .our-tasks__item {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.task__card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
}

.task__logo {
  width: 70px;
  height: 70px;
}

.task__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .task__title {
    text-align: start;
  }
}

.task__text {
  height: 75px;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.our-work {
  display: none;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .our-work {
    display: block;
  }
}

.our-work__list {
  display: flex;
}

.our-work__item {
  display: inline-block;
}

.our-work__item:not(:last-child) {
  margin-right: 30px;
}

.our-work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

.our-work__thumb {
  display: block;
  position: relative;
}

.our-work__label {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.172;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  margin-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.card__desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

.rank {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 400;
  color: #757575;
}

.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .our-clients__title {
    font-size: 36px;
    line-height: 1.172;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: -15px;
}

.clients__item {
  margin: 15px;
  width: 210px;
}

@media screen and (min-width: 480px) {
  .clients__item {
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  padding: 16px 50px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: color, fill, background-color, box-shadow, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .clients__link {
    padding: 16px 30px;
  }
}

.clients__logo {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    justify-content: flex-start;
  }
}

.footer-logo {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.address {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-contacts__list {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__info {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-contacts__info {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts__info {
    margin-right: 70px;
    margin-bottom: 0;
    text-align: start;
  }
}

.footer__social {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__social {
    padding-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    padding-top: 12px;
    margin-right: 93px;
    text-align: start;
  }
}

.social__text {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social__list--start {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .social__list--start {
    justify-content: flex-start;
    margin: 0;
  }
}

.social__link--footer {
  background: rgba(255, 255, 255, 0.1);
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__logo--footer {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    padding-top: 12px;
  }
}

.footer-form__text {
  display: block;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-form__text {
    text-align: start;
  }
}

.form-block {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .form-block {
    display: flex;
    align-items: center;
  }
}

.form-block__input {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  letter-spacing: 0.03em;
  padding: 10px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
}

.form-block__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .form-block__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-block__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.form-block__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  fill: #ffffff;
}

.form-block__button:hover, .form-block__button:focus {
  fill: #2f303a;
}

@media screen and (min-width: 1200px) {
  .form-block__button {
    margin-left: 12px;
  }
}

.form-block__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: 100%;
  max-height: 609px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1200px) {
  .modal__content {
    max-width: 528px;
    width: 100%;
    max-height: 581px;
  }
}

.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.close {
  width: 18px;
  height: 18px;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:focus .close,
.button-close:hover .close {
  fill: #2196f3;
}

.is-hidden {
  pointer-events: none;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translatey(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__text {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .form__text {
    line-height: 1.172;
  }
}

.form__label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: #757575;
}

.input {
  padding: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border-color: #2196f3;
  outline: 0;
}

.form__input {
  position: relative;
  margin-bottom: 10px;
}

.input__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translatey(-50%);
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .input__icon {
  fill: var(--main-color-mark);
}

.form__textarea {
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:focus {
  border-color: #2196f3;
  outline: 0;
}

.form__textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__group {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__border {
  position: relative;
  display: block;
  margin-right: 9px;
  border: 2px solid #212121;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox__border {
  background-color: #2196f3;
  border-color: #2196f3;
}

.icon-check {
  position: absolute;
  opacity: 0;
  fill: #ffffff;
  width: 16px;
  height: 15px;
  top: -3px;
  left: -2px;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox__border .icon-check {
  opacity: 1;
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  color: #757575;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .policy {
    font-size: 14px;
    line-height: 1.714;
  }
}

.link-policy {
  padding-left: 4px;
  color: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .link-policy {
    font-size: 14px;
    line-height: 1.714;
  }
}

.form__button {
  display: flex;
  justify-content: center;
}
/*# sourceMappingURL=main.css.map */