* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif, "Times New Roman", Times, serif;
  font-style: normal;
  color: #212121;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.standart__button {
  display: inline-block;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: #2196f3;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, box-shadow;
  transition-property: color, fill, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.standart__button:hover, .standart__button:focus {
  color: #2f303a;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, box-shadow;
  transition-property: color, fill, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:focus, .social__link:hover {
  background-color: #2196f3;
}

.social__link:focus .social__logo,
.social__link:hover .social__logo {
  fill: #ffffff;
}

.social__logo {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  -webkit-transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, box-shadow;
  transition-property: color, fill, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #f5f4fa;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.172;
  letter-spacing: 0.02em;
  -webkit-transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, box-shadow;
  transition-property: color, fill, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  fill: #2196f3;
  color: #2196f3;
}

.logo {
  color: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.383;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-blue {
  color: #2196f3;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  padding: 32px 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.link--active {
  position: relative;
  color: #2196f3;
}

.link--active::after {
  position: absolute;
  content: '';
  width: 100%;
  left: 0px;
  bottom: -3px;
  border-radius: 2px;
  border-bottom: 4px solid;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  color: #757575;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__psevdo {
  margin-right: 10px;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/banner.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner.jpg);
}

.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.our-tasks {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-tasks__title {
  visibility: hidden;
  height: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

.our-tasks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-tasks__item:not(:last-child) {
  margin-right: 30px;
}

.task__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
}

.task__logo {
  width: 70px;
  height: 70px;
}

.task__title {
  width: 270px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.task__text {
  width: 270px;
  height: 75px;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.our-work {
  padding-bottom: 94px;
}

.our-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-work__item {
  display: inline-block;
}

.our-work__item:not(:last-child) {
  margin-right: 30px;
}

.our-work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

.our-work__thumb {
  display: block;
  position: relative;
}

.our-work__label {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.card__desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

.rank {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 400;
  color: #757575;
}

.our-clients {
  padding: 94px 0;
}

.our-clients__title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients__logo {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  -webkit-transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, box-shadow;
  transition-property: color, fill, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: #2196f3;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  cursor: pointer;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: color, fill, background-color, border-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, border-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, box-shadow, border-color;
  transition-property: color, fill, background-color, box-shadow, border-color, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-logo {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.address {
  margin-bottom: 9px;
  font-style: normal;
}

.footer-contacts__list {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__info {
  margin-right: 70px;
}

.footer__social {
  padding-top: 12px;
  margin-right: 93px;
}

.social__text {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social__list--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
}

.social__link--footer {
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, box-shadow;
  transition-property: color, fill, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__logo--footer {
  fill: #ffffff;
}

.footer-form {
  padding-top: 12px;
}

.footer-form__text {
  display: block;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-block__input {
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  letter-spacing: 0.03em;
  padding: 10px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
}

.form-block__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-block__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-block__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-block__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 12px;
  fill: #ffffff;
}

.form-block__button:hover, .form-block__button:focus {
  fill: #2f303a;
}

.form-block__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 528px;
  width: 100%;
  max-height: 581px;
  height: 100%;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.close {
  width: 18px;
  height: 18px;
  -webkit-transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, box-shadow;
  transition-property: color, fill, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:focus .close,
.button-close:hover .close {
  fill: #2196f3;
}

.is-hidden {
  pointer-events: none;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translatey(-100%);
          transform: translatey(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__text {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
}

.form__label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: #757575;
}

.input {
  padding: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  -webkit-transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, box-shadow;
  transition-property: color, fill, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border-color: #2196f3;
  outline: 0;
}

.form__input {
  position: relative;
  margin-bottom: 10px;
}

.input__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  -webkit-transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, box-shadow;
  transition-property: color, fill, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .input__icon {
  fill: var(--main-color-mark);
}

.form__textarea {
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  -webkit-transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, box-shadow;
  transition-property: color, fill, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:focus {
  border-color: #2196f3;
  outline: 0;
}

.form__textarea::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__group {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__border {
  position: relative;
  display: block;
  margin-right: 9px;
  border: 2px solid #212121;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  -webkit-transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, box-shadow;
  transition-property: color, fill, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox__border {
  background-color: #2196f3;
  border-color: #2196f3;
}

.icon-check {
  position: absolute;
  opacity: 0;
  fill: #ffffff;
  width: 16px;
  height: 15px;
  top: -3px;
  left: -2px;
  -webkit-transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, box-shadow;
  transition-property: color, fill, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox__border .icon-check {
  opacity: 1;
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: #757575;
  letter-spacing: 0.03em;
}

.link-policy {
  padding-left: 4px;
  color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: #2196f3;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */