.cards__list {
  background-color: $color-white;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    margin: -15px;
  }
}

.cards__item {
  margin-bottom: 30px;
  background-color: $color-white;
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

.cards__border {
  border-left: 1px solid $background-color;
  border-bottom: 1px solid $background-color;
  border-right: 1px solid $background-color;
  cursor: pointer;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.cards__prospect {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .cards__prospect:hover & {
    transform: translatey(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.overlay__text {
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: $color-white;
}

.card__desc {
  padding: 20px 18px;
}

.card__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__type {
  display: block;
  color: $second-color-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
