.modal {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: translate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: 100%;
  max-height: 609px;

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    width: 100%;
    max-height: 581px;
  }

  padding: 40px;
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.close {
  width: 18px;
  height: 18px;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .button-close:focus &,
  .button-close:hover & {
    fill: $main-color-mark;
  }
}

.is-hidden {
  pointer-events: none;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translatey(-150%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__text {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    line-height: 1.172;
  }
}

.form__label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: $second-color-font;
}

.input {
  padding: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: $main-color-mark;
    outline: 0;
  }
}

.form__input {
  position: relative;
  margin-bottom: 10px;
}

.input__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translatey(-50%);
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .input:focus + & {
    fill: var(--main-color-mark);
  }
}

.form__textarea {
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: $main-color-mark;
    outline: 0;
  }
  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.172;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.form__group {
  position: relative;

  text-align: center;
  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__border {
  position: relative;
  display: block;
  margin-right: 9px;
  border: 2px solid $main-color-font;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .checkbox:checked + & {
    background-color: $main-color-mark;
    border-color: $main-color-mark;
  }
}

.icon-check {
  position: absolute;
  opacity: 0;
  fill: $color-white;
  width: 16px;
  height: 15px;
  top: -3px;
  left: -2px;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .checkbox:checked + .checkbox__border & {
    opacity: 1;
  }
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  color: $second-color-font;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.714;
  }
}

.link-policy {
  padding-left: 4px;
  color: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  color: $main-color-mark;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.714;
  }
}

.form__button {
  display: flex;
  justify-content: center;
}
