.our-clients {
  padding: 94px 0;
}

.our-clients__title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients__logo {
  fill: $third-color-font;
  width: 106px;
  height: 60px;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .clients__link:hover &,
  .clients__link:focus & {
    fill: $main-color-mark;
  }
}

.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  padding: 16px 32px;
  border: 1px solid $third-color-font;
  border-radius: 4px;
  transition-property: color, fill, background-color, box-shadow, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: $main-color-mark;
  }
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
