.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $background-color;
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__list {
  display: flex;
}

.team__item {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $color-white;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.card__desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

.rank {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 400;
  color: $second-color-font;
}
