.footer__social {
  text-align: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 5px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 12px;
    margin-right: 93px;
    text-align: start;
  }
}

.social__text {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social__list--start {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
    margin: 0;
  }
}
.social__link--footer {
  background: rgba(255, 255, 255, 0.1);
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__logo--footer {
  fill: $color-white;
}
