* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: $main-font, 'Times New Roman', Times, serif;
  font-style: normal;
  color: $main-color-font;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
