.header {
  background-color: $color-white;
  border-bottom: 1px solid $background-color;
  height: 60px;
  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
