.contacts {
  display: none;
  color: $second-color-font;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 84px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  margin-left: auto;
}

.contacts__link {
  display: flex;
  align-items: center;
}

.contacts__item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 50px;
    }
  }
}

.contacts__psevdo {
  margin-right: 10px;
}
