.nav {
  display: flex;
  align-items: center;
}
.nav__link {
  padding: 31px 0;
}
.nav__list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.link--active {
  position: relative;
  color: $main-color-mark;
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0px;
    bottom: 0;
    border-radius: 2px;
    border-bottom: 4px solid;
  }
}
