.logo {
  color: inherit;
  font-family: $accent-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.383;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.logo-blue {
  color: $main-color-mark;
}
