$main-font: 'Roboto', sans-serif;
$accent-font: 'Raleway', sans-serif;
$main-color-font: #212121;
$second-color-font: #757575;
$third-color-font: #afb1b8;
$main-color-mark: #2196f3;
$main-background-color: #2f303a;
$background-color: #f5f4fa;
$color-white: #ffffff;
$color-font-footer: rgba(255, 255, 255, 0.6);
